@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* font */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}

/* shared color */
.primary-color{
    color: #ff0000;
}

/* header new year section style  */


.banner{
    height: 600px;
    background-image: url(/images/Banner\ Image.png);
    background-repeat: no-repeat;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 2, 17, 100%);
    box-shadow: inset 0 200px 200px rgba(7, 2, 17, 100%);
    border-radius: 16px;
}

.banner-title{
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 16px;
}

.banner-sub-title{
    color: #ffffff;
    font-size: 72px;
}

/* offer section style */

.offer-section{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
}


.offer-title{
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 48px;
}

.offer-sub-title{
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 16px;
}

.categories{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 48px;
}